<div style="text-align:center; margin-top: 20px;">
  <h1>To-Do List</h1>
  
  <mat-card style="max-width: 400px; margin: 0 auto;">
    <mat-form-field style="width: 100%;">
      <input matInput [(ngModel)]="newTodo" placeholder="Add a new to-do">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTodo(newTodo)">Add To-Do</button>
  </mat-card>

  <mat-card style="max-width: 400px; margin: 20px auto;">
    <mat-list>
      <mat-list-item *ngFor="let todo of todos; let i = index">
          {{ todo.title }}
        <mat-checkbox mat-ceckbox class="example-margin" [(ngModel)]="todo.completed" (change)="completeTodo(todo.id)"></mat-checkbox>
        <button mat-icon-button color="warn" (click)="removeTodo(todo.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>